asgiref==3.8.1
black==26.5.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.4.2
colorama==0.4.6
cryptography==45.0.4
decorator==5.2.1
distlib==0.3.9
Django==5.1.6
django-admin-persian-fonts==0.2
django-autoslug==1.9.9
django-ckeditor==6.7.3
django-ckeditor-5==0.2.20
django-cleanup==9.0.0
django-colorfield==0.14.0
django-extensions==4.1
django-jalali==7.4.0
django-jalali-date==2.0.0
django-js-asset==4.0.1
django-render-partial==0.4
django-social-share==2.3.0
django-sslserver==0.22
django-upgrade==1.25.0
django-utm-tracker==1.4.0
django-widget-tweaks==1.5.1
filelock==3.18.0
ghasedak_sms==1.0.3
ghasedakpack==0.1.13
idna==3.10
jalali_core==1.0.0
jdatetime==6.0.1
MarkupSafe==3.0.2
mypy_extensions==1.1.0
mysql-connector-python==9.2.0
packaging==26.2
pathspec==1.1.1
pillow==10.4.0
platformdirs==4.3.8
pycparser==2.22
pyOpenSSL==25.1.0
python-decouple==3.8
pytokens==0.4.1
requests==2.32.3
setuptools==83.0.0
six==1.17.0
sqlparse==0.5.3
tokenize_rt==6.2.0
ttkbootstrap==1.13.10
tzdata==2025.1
urllib3==2.4.0
virtualenv==20.31.2
Werkzeug==3.1.3

