{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>تسویه حساب</title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font.css' %}">
  <!-- OPACITY SCREEN FOR SEARCH INPUT FOCUS -->
  {% include 'includes/head.html' %}
  <div class="absolute w-full h-screen bg-gray-200 opacity-40 z-40 hidden" id="opacitiScreen" onclick="closeScreen()">
  </div>
  </div>
  <!-- MAIN -->

  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="flex flex-col md:flex-row gap-y-3 items-center gap-x-2 mb-7">
        <div class="text-sm opacity-80">
          کد تخفیف دارید؟ وارد کنید:
        </div>
        <div>
          <form method="post" id="checkout">
            {% csrf_token %}
            <input name="coupon" form="checkout"
              class="border border-gray-400 outline-none focus:border-red-300 rounded-lg p-1" type="text"
              id="coupon-input" placeholder="کد تخفیف شما">
        </div>
        <div>
          <button type="button" class="bg-red-600 text-white px-3 py-1 rounded-lg shadow-md" onclick="validateCoupon()">
            تایید
          </button>
        </div>
      </div>
      <div>
        <div class="mb-4 md:col-span-2">

          <label for="address_id" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">
            آدرس های من:
          </label>

          {% if addresses %}
          <!-- Address Select -->
          <select form="checkout" name="address_id" id="address_id" required dir="rtl" class="block w-full sm:w-[420px]
             h-11
             rounded-lg
             border border-gray-400
             bg-white
             px-3
             text-sm
             text-gray-700
             outline-none
             focus:border-red-300
             focus:ring-1
             focus:ring-red-200
             transition">
            <option value="" selected disabled>
              آدرس را انتخاب کنید
            </option>
            {% for address in addresses %}
            <option value="{{ address.id }}">
              {{ address.title }}، {{ address.city }} - {{ address.full_address|truncatechars:45 }}
            </option>
            {% endfor %}
          </select>
          <!-- Add New Address -->
          <div class="mt-2">
            <a href="{% url 'Profile:Address' %}"
              class="inline-flex items-center text-xs text-red-500 hover:text-red-600 transition">
              <span class="ml-1 text-base">+</span>
              افزودن آدرس جدید
            </a>
          </div>
          {% else %}
          <!-- No Address -->
          <div class="w-full sm:w-[420px] rounded-xl border border-red-200 bg-red-50 px-4 py-4">
            <div class="flex items-center justify-between gap-4">
              <div class="flex items-center">
                <div class="flex items-center justify-center w-9 h-9 rounded-full bg-white text-red-500 ml-3">
                </div>
                <div>
                  <p class="text-lg md:text-xl opacity-70 mb-3 mt-2">
                    آدرسی ثبت نشده است
                  </p>
                  <p class="text-lg md:text-xl opacity-70 mb-3 mt-1">
                    برای ادامه خرید، ابتدا یک آدرس ثبت کنید.
                  </p>
                </div>
              </div>
              <a href="{% url 'Profile:Address' %}"
                class="shrink-0 bg-red-500 hover:bg-red-600  text-white text-xsrounded-lg px-4 py-2 transition"> افزودن
                آدرس</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="border shadow-xl rounded-2xl mx-auto max-w-xl mt-7 flex flex-col gap-y-5 py-5 px-5 md:px-20">
        <div class="flex justify-between">
          <div> 
          مالیات:  
          </div>
          <div class="flex gap-x-1">
            <div id="total-tax">
            {{total_tax|rial_price }}
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <div class="text-red-600">
            مجموع نهایی:
          </div>
          <div class="flex gap-x-1">
            <div id="total-price">
            {{total_price|rial_price }}
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="px-7 py-2 text-center text-white bg-red-500 border-0 rounded-lg shadow-md text-sm flex justify-center items-center opacity-90 my-5 mx-auto"> ثبت و پرداخت</button>
    </div>
  </div>
</form>
  <!-- FOOTER -->
  {% include 'includes/footer.html' %}
  </body>
  <!--DROPDOWNS FOR NAVBAR-->
  <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer>
  </script>
  <!--MOBILE NAVBAR-->
  <script src="{% static 'js/navbar.js' %}"></script>
  <!-- SHOW MODAL SEARCH -->
  <script src="{% static 'js/searchBox.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script>
    function applyDiscount(total_price, total_tax) {
      $("#total-price").html(total_price)
      $("#total-tax").html(total_tax)
      formatPriceInToman(document.getElementById("total_price"))
      formatPriceInToman(document.getElementById("total_tax"))
    }

    function validateCoupon() {
      $.ajax({
        url: "{% url 'order:validate-coupon' %}",
        method: 'POST',
        data: {
          code: $('#coupon-input').val(),
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
          console.log("success", response);
          Toastify({
            text: response.message,
            className: `info`,
            style: {
              background: "blue",
            }
          }).showToast();
          applyDiscount(response.total_price, response.total_tax)
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log(errorThrown);
          Toastify({
            text: jqXHR.responseJSON.message,
            className: `error`,
            style: {
              background: "red",
            }
          }).showToast();
          // handle the error case
        }
      });
    }
  </script>

</html>