{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ناموفق</title>

  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font.css' %}">

  {% include 'includes/head.html' %}

  <!-- OPACITY SCREEN FOR SEARCH INPUT FOCUS -->
  <div class="absolute w-full h-screen bg-gray-200 opacity-40 z-40 hidden" id="opacitiScreen" onclick="closeScreen()">
  </div>
  </div>
  <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="mb-2">
        <div class="text-xl text-red-700 opacity-90 mb-3">
          سفارش دریافت نشد
        </div>
        <div class="text-sm opacity-70">
          پرداخت انجام نشد. چنانچه این فرایند مبلغی از حساب شما کسر کرده است،طی 36 ساعت آینده به حساب شما باز میگردد .
        </div>
      </div>

      <span class="flex justify-center items-center opacity-90 my-5">
        <a href="{% url 'Product:Product_view' %}"
          class="px-7 py-2 text-center text-white bg-red-500 align-middle border-0 rounded-lg shadow-md text-xs">صفحه
          اصلی</a>
      </span>
    </div>
  </div>
  <!-- FOOTER -->
  {% include 'includes/footer.html' %}

  </body>
  <!--DROPDOWNS FOR NAVBAR-->
  <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer>
  </script>
  <!--MOBILE NAVBAR-->
  <script src="{% static 'js/navbar.js' %}"></script>
  <!-- SHOW MODAL SEARCH -->
  <script src="{% static 'js/searchBox.js' %}"></script>

</html>