{%load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>درباره ما</title>

  <link rel="stylesheet" href="{% static 'css/output.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/font.css' %}">

</head>
<body class="bg-gray-50">
  <!-- NAVBAR -->
  <div>
    <!-- TOP -->
   {% include 'includes/head.html' %}
<!-- OPACITY SCREEN FOR SEARCH INPUT FOCUS -->
    <div class="absolute w-full h-screen bg-gray-200 opacity-40 z-40 hidden" id="opacitiScreen" onclick="closeScreen()">
    </div>
  </div>
  <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="relative flex justify-center items-center mb-5">
        <img class="w-full h-96 md:h-[500px] object-center object-cover rounded-xl" src="{{about.image.url}}"alt="">
        <div class="absolute top-0 bg-zinc-500 bg-opacity-50 w-full h-full flex justify-center items-center text-white font-semibold rounded-xl">
          <div class="text-center space-y-5">
            <div class="text-3xl sm:text-3xl md:text-5xl ">{{about.title}}</div>
          </div>
        </div>
      </div>
      <div class="space-y-7">
        <div class="leading-8 opacity-80 text-sm">
          {{about.text}}
        </div>
       
      </div>

    </div>
  </div>
  <!-- FOOTER -->
  {% include 'includes/footer.html' %}
</body>
  <!--DROPDOWNS FOR NAVBAR-->
  <script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer>
  </script>
  <!--MOBILE NAVBAR-->
  <script src="{% static 'js/navbar.js' %}"></script>
  <!-- SHOW MODAL SEARCH -->
  <script src="{% static 'js/searchBox.js' %}"></script>
</html>