{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ارتباط با ما</title>

  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font.css' %}">

</head>

<body class="bg-gray-50">
  <!-- NAVBAR -->
  <div>
    <!-- TOP -->
    {% include 'includes/head.html' %}
    <!-- OPACITY SCREEN FOR SEARCH INPUT FOCUS -->
    <div class="absolute w-full h-screen bg-gray-200 opacity-40 z-40 hidden" id="opacitiScreen" onclick="closeScreen()">
    </div>
  </div>
  <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl  p-3 md:p-5">
      <!-- SECTION TOP -->
      <div class="flex justify-center items-center lg:my-0">
        <div class="content-center px-4 mt-16 mb-10">

          <div class="text-center opacity-75">
ما همیشه از شنیدن نظرها، پیشنهادها و سوالات شما استقبال می‌کنیم. ارتباط با شما برای LUMIRA تنها یک راه ارتباطی نیست؛ بلکه فرصتی برای شناخت بهتر نیازها و سلیقه شماست.          </div>
        </div>
      </div>
      <!-- SECTION DOWN -->
      <form method="post">
      {% csrf_token %}
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="px-5 md:pr-24 grid justify-items-start content-start my-10">
          <div class="w-full max-w-full shrink-0 md:w-8/12 md:flex-0">
            <div class="mb-4">
              <label for="full_name" class="mb-2 ml-1 text-xs opacity-80">نام و نام خانوادگی:</label>
              <input type="text" name="full_name"
                class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300" />
            </div>
          </div>
          <div class="w-full max-w-full shrink-0 md:w-8/12 md:flex-0">
            <div class="mb-4">
              <label for="phone" class="inline-block mb-2 ml-1 text-xs opacity-80">شماره تماس:</label>
              <input type="text" name="phone"
                class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300" />
            </div>
          </div>
          <div class="w-full max-w-full shrink-0 md:w-10/12 md:flex-0">
            <div class="mb-4">
              <label for="message" class="inline-block mb-2 ml-1 text-xs opacity-80">توضیحات:</label>
              <textarea name="message" cols="20" rows="7"
                class="text-sm block w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-gray-700 outline-none transition-all focus:border-red-300"></textarea>
            </div>
          </div>
          <span class="flex justify-center items-center opacity-90 my-5">
            <button type="submit"
              class="px-7 py-2 text-center text-white bg-red-500 align-middle border-0 rounded-lg shadow-md text-sm">ارسال</button>
          </span>
        </div>
      </form>
        <div class="px-4 lg:px-10 my-10">
          <div class="flex items-center">
            <span class="inline-block mb-2 ml-1 opacity-80 font-semibold">
              شماره تماس :
            </span>
            <span class="inline-block mb-2 ml-1 text-sm opacity-75">
             {{ site_settings.phone1}}
            </span>
          </div>
          <div class="flex items-center my-3">
            <span class="inline-block mb-2 ml-1 opacity-80 font-semibold">
              ایمیل:
            </span>
            <span class="inline-block mb-2 ml-1 text-sm opacity-75">
            {{ site_settings.email}}
            </span>
          </div>
          <div class="flex items-center">
            <span class="inline-block mb-2 ml-1 opacity-80 font-semibold">
              آدرس حضوری:
            </span>
            <span class="inline-block mb-2 ml-1 text-sm opacity-75">
             {{ site_settings.address}}
            </span>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  {% include 'includes/footer.html' %}
</body>
<!--DROPDOWNS FOR NAVBAR-->
<script src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer>
</script>
<!--MOBILE NAVBAR-->
<script src="{% static 'js/navbar.js' %}"></script>
<!-- SHOW MODAL SEARCH -->
<script src="{% static 'js/searchBox.js' %}"></script>

</html>